body{
	
	background: url("../images/concrete_seamless.jpg");
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}



header{
	margin-bottom: 20px;
}
#TriviaHeader {
	background-color: #313477;
	Text-align:center;
	margin:20px 30%;
	color:#fff;
	padding:40px;	
}
#headeBanner { font-size:40px;}
.btn-primary,.reset{
	background-color: #313477;
	color: white;
	font-family: 'Sigmar One', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-top: 100px;
}
.btn-primary:hover, .reset:hover{
	background-color: #202364;
}

.container{
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 700px;
}

h2, #message, #finalMessage{
	font-family: Sigmar One;
}

.thisChoice:hover{
	background-color: #202364;
	color: white;
	padding: 10px;
}

#gif{
	margin: 30px;
}

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}